/* Aplico font */
@font-face {
    font-family: Beau-Rivage;
    src: url("Fuentes/BeauRivage-Regular.ttf");
} 

@font-face {
    font-family: Serif-Bold;
    src: url("Fuentes/PTSerif-Bold.ttf");
}

@font-face {
    font-family: Serif-italic;
    src: url("Fuentes/PTSerif-Italic.ttf");
}
/* Fin de font */

/* Empiezo a aplicar CSS a mi pagina */
body {
    background-image: url("Imagenes/fondo2.jpg");
    background-size: cover;
}

h1 {
    font-family: Serif-italic;
    color: red;
    display: flex;
    justify-content: flex-start;
}
.menu-navegable  {
    display: flex;
    justify-content: space-between;
    list-style: none;
}
ul li {
    font-family: Serif-Bold;
    font-size: 1rem;
    color: wheat;
}
.grid-seccion p {
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
}
.grid-seccionB h3 {
    color: black;
    font-family: Beau-Rivage;
    font-size: 35px;
    text-align: center;
}

address a {
    color: orange;
    display: flex;
    justify-content: flex-start;
    font-size: 17px;
}

p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}

h6 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}


/* Aplicando Grid */
.grid-contenedor-padre {
    display: grid;
    grid-template-areas: "header header"
    "nav nav"
    "seccion seccion"
    "seccionB seccionB"
    "footer footer";
    height:100%;
    width:100%;
    margin:0px;
    grid-template-rows: 30% 3% 65% 30%;
}

.grid-header {
    grid-area: header;
    margin-top: 3px;
    border-radius: 6px;
    background-color: white;
    font-size: 40px;
    background-image: url("imagenes/logo.png");
    background-repeat: no-repeat;
    background-position-x: center;
}

.grid-nav {
    grid-area: nav;
}

.grid-seccion {
    grid-area: seccion;
    
}

.grid-seccionB {
    grid-area: seccionB;
}

.grid-footer {
    grid-area: footer;
    color: white;
    background-color: gray;
}
/* Fin del Grid */


/* CSS del formulario: */
#contacto{
    color: blue;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 1.3;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.speaker-form {
    background-color:  white;
    border: 1px solid black;
    border-radius: 3px;
    width: 80%;
    margin: 0 0 40px 0;
    padding: 50px;

}

.form-row {
    margin-bottom: 40px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;

}

.form-row input [type="text"],
.form-row input [type="email"] {
    background-color: white;
    border: 1px solid black;
    border-radius: 3px;
    width: 100%;
    padding: 7px;
    font-size: 14px;
}

.form-row label {
    margin-bottom: 7px;
}

.form-row textarea {
    font-size: 14px;
    border: 1px solid black;
    border-radius: 3px;
    margin-bottom: 7px;
    padding: 5px;
    min-height: 200px;
    min-width: 50%;
    resize: none;
}

.form-row .instrucciones {
    color: black;
    margin-bottom: 25px;
    font-size: 14px;

}

.form-row button{
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #5995da;
    border: none;
    border-radius: 3px;
    padding: 10px 40px;
    cursor: pointer;
}

.form-row button:hover {
    background-color: #76aeed;
}

.form-row button:active {
    background-color: #407fc7;
}